<%= jquery_grid :sample, {:url => grid_data_people_url } %>

 <center>
   <div style="background :black; color:white; width:518px;">My cool AJAX grid!</div>
   <%= jquery_grid_table %>
   <%= jquery_grid_pager %>
 </center>